@using Damacana.Models
@model Cart

<br />
<h2>Items on your cart:</h2>
<hr />
@foreach (KeyValuePair<Product, int> pair in Model.items)
{

    <div class="media">
        <div class="media-left">
            @pair.Key.name
        </div>
        <div class="media-body">
            @(pair.Key.price)    X    @(pair.Value)   =    @(pair.Key.price * pair.Value)
        </div>
        <a class="btn btn-danger" href="@Url.Action("RemoveItem","Cart", new { id = pair.Key.id})">Remove</a>
    </div>

}
<hr />
<div class="success">Total amount: @Model.totalAmount</div>
<a class="btn btn-danger" href="@Url.Action("Clear","Cart", new { id = Model.id})">Clear all items</a>
<hr />
<a class="btn btn-default" href="@Url.Action("Purchase","Cart", new { id = Model.id})">Purchase</a>