@using Damacana.Models
@model Purchase

<h2>PurchaseCompleted</h2>
<div>
    <h4>Purhcase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created on:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdOn)
        </dd>
        <dt>
            Total Amount:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>
        <dt>
            Items bought:
        </dt>
        <dd>
            @foreach (KeyValuePair<Product, int> item in Model.items)
            {
                <div> @(item.Key.name) , Price: @(item.Key.price), Amount: @(item.Value)</div>
            }
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
