@using Damacana.Models
@model List<Damacana.Models.Product>
 @using System.Collections.Generic
   

<body style="background-image:url(http://img0.mxstatic.com/wallpapers/112e4ab8c5074372011bcd4aa862ee2c_large.jpeg)">

    <h2 style="color:antiquewhite">In Cart</h2>
    <br>
    @foreach (var p in Model)
    {
        <table style="width:27%">
            <tr>

                <td>
                    <div class="alert alert-success" role="alert">
                        <h4 class="media-heading">@p.Name</h4>
                        <b>@p.Price TL</b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger" href="@Url.Action("DeleteFromCart", new { Name = p.Name})"><b>Sepetten Sil</b></a>

                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    }
    <a class="btn btn-success" href="@Url.Action("Purchase","Purchases1", new { x = Model })"><b>Buy it</b></a>
    <ul class="pager">
        <li><a href="@Url.Action("Index","Products")">Ana Sayfaya Dön</a></li>
    </ul>
</body>
