@using Damacana.Models;
@model List<Damacana.Models.Cart>

@{
    ViewBag.Title = "CartList";
}
<body style="background-image:url(https://s-media-cache-ak0.pinimg.com/originals/2c/3b/ea/2c3beaf36e094e2c48c976ea3025ee51.jpg)">
    <h2>CartList</h2>




    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>
                    <h3>Cart ID:  @Html.DisplayFor(modelItem => item.Id) </h3>
                    <h3> User ID: @Html.DisplayFor(modelItem => item.UserId)</h3>
                    <table style="width:50%">
                        <tr>
                            <td>
                                <h3><a class="btn btn-info" href="@Url.Action("ProductListofEachCart",new { id = item.Id })"> Go to product list of this cart </a></h3>
                                <h3> <a class="btn btn-info" href="@Url.Action("AddPurchase",new { id = item.Id })"> Buy it </a></h3>
                            </td>
                        </tr>
                    </table>

                </td>
                <td>

                    <a href="@Url.Action("EditCart", new { id = item.Id })"> EDIT </a>
                    <a href="@Url.Action("DeleteCart", new { id = item.Id })"> DELETE </a>


                </td>
            </tr>
        </table>
    }
</body>