@using Damacana.Models;
@model List<Damacana.Models.Cart>

@{
    ViewBag.Title = "CartList";
}

<h2>CartList</h2>




@foreach (var item in Model)
{
    <tr>
        <td>
            <h3>Cart ID:  @Html.DisplayFor(modelItem => item.Id) </h3>
            <h3> User ID: @Html.DisplayFor(modelItem => item.UserId)</h3>
            
            <h3><a href="@Url.Action("ProductListofEachCart",new { id = item.Id })"> Go to product list of this cart </a></h3>
            <h3> <a href="@Url.Action("AddPurchase",new { id = item.Id })"> Buy it </a></h3>


        </td>
        <td>

            <a href="@Url.Action("EditCart", new { id = item.Id })"> EDIT </a>| <a href="@Url.Action("DeleteCart", new { id = item.Id })"> DELETE </a>


        </td>
    </tr>
}