@using damacana.Models
@model List<damacana.Models.Product>

@{
    ViewBag.Title = "Cart";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="C:\Users\Fatih\Desktop\erikli.png">
            </a>
        </div>
    </div>
</nav>

    @foreach (Product p in Model)
    {
        <h2>
            @p.Name (@p.Id)
        </h2>
        <p>
            @p.Price
        </p>
        <button type="submit" class="btn btn-default">sepeteekle</button>
    
        <hr />
    }
    <li><a href="@Url.Action("siparisitamamla")">Satın Al</a></li>




<a href="@Url.Action("Index")">

        Back to mainpage
    </a>
