@using damacana.Models
@model List<damacana.Models.Product>

@{
    ViewBag.Title = "Cart";
}



    @foreach (Product p in Model)
    {
        <h2>
            @p.Name (@p.Id)
        </h2>
        <p>
            @p.Price
        </p>
        
        
     <h4><a href="@Url.Action("siparisitamamla")">Satın Al</a> </h4>
      {
        
      

      }

    }

    



<h2>
    <a href="@Url.Action("Index")">

        Back to mainpage
    </a>
</h2>
