@using damacana.Models
@model List<damacana.Models.Product>


@{
    ViewBag.Title = "Home Page";
}


<h2> <a href="@Url.Action("AddProduct")">Add New Product</a> </h2>
<hr />
<h2> <a href="@Url.Action("Cart")"> For Add Cart</a> </h2>
 

<h2>Stokta olan ürünlerimiz</h2>

@foreach (Product p in Model)
{
    <h3>
        @p.Name (@p.Id)
    </h3>
    <h4>
        @p.Price
    </h4>
    <hr />
}

