@using damacana.Models
@model List<damacana.Models.Product>


@{
    ViewBag.Title = "Home Page";
}


<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="@Url.Action("AddProduct")"> <span class="badge">Add Product</span></a></li>
 
    <li role="presentation"><a href="@Url.Action("Cart")">Satın Al <span class="badge"></span></a></li>
</ul>




<h2>Stokta olan ürünlerimiz</h2>

@foreach (Product p in Model)
{
    <h3>
        @p.Name (@p.Id)
    </h3>
    <h4>
        @p.Price
    </h4>
    <hr />
}

