@model Damacana.Models.Product
<h2>@Model.name</h2>
<div>
    <h4>Product Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.id })
    @Html.ActionLink("Back to List", "Index")
</p>
