@using Damacana.Models;
@model  List<Damacana.Models.Product> 
    ViewBag.Title = "ProductListofEachCart";
}
<h2>Bu sepette olan ürünler</h2>

@foreach (var item in Model)
{
    <tr>
        <td>
            <h3>Product ID:  @Html.DisplayFor(modelItem => item.Id) </h3>
            <h3> Product Name: @Html.DisplayFor(modelItem => item.Name)</h3>
            <h3> Product Price: @Html.DisplayFor(modelItem => item.Price)</h3>


        </td>
        <td>
            <a href="@Url.Action("DeleteProductfromCart", new { name = item.Name })"> DELETE </a>

        </td>
    </tr>

}
<a href="@Url.Action("ProductList" )"> listeye dön</a>